/*HEADER*/

header{
    background-color: #FFD59E;
    height: 147px;
}

header>div>h1{
    margin: 25px 63px 40px 22px;
}

header>div>h2{
    margin: 30px 0 7px 0;
}

.bartop{
    height: 9px;
    width: 676px;
    margin-top: 8px;
}

/*NAV*/

nav>ul{
    padding-left: 87px;
}

nav>ul>li{
    display: inline-block;
    margin: 0 19px 0 0;
}

nav>ul>li>a{
    color : #FFFFFF;
    text-decoration: none;
    display: inline-block;
    padding: 15px 0;
}

nav>ul>li>a:hover,
nav>ul>li>a:active{
    color:#FF6738;
    background-color: #FFD59E;
}

/*Image Oeil*/

.oeil{
    background-image: url(../images/banniere.jpg);
    background-attachment:scroll;
    background-position: center;
    width: 100%;
    height: 300px;
}

/*EFFIX UN*/

.effix1{
    background-image: url(../images/effixun.jpg);
    background-attachment:scroll;
    background-size:cover;
    background-position: left center;
    width: 327px;
    height: 297px;
    margin-top: 23px;
}

.effixtitre{
    margin: 15px 0 0 25px;
}

.texteffix{
    width: 644px;
    height: 230px;
    margin: 10px 0 12px 26px;
    line-height: 22.74px;
}

.bareffix{
    height: 9px;
    width: 671px;
    margin: 8px 0 42px 0;
}

/*Le Fondateur*/

#fondateur{
    height: 785px;
}

.lefondateur{
    background-image: url(../images/fondateur.jpg);
    background-attachment:scroll;
    background-size:cover;
    background-position: center;
    width: 1024px;
    height: 364px;
    text-align: end;
    display: table-cell;
    vertical-align: bottom;
    padding-bottom: 8px;
}

.text{
    width: 415px;
    height: 401px;
    line-height: 22.74px;
}

.textfondateur1{
    margin: 32px 0 0 89px; 
}

.textfondateur2{
    margin: 32px 0 0 20px;
}

span{
    margin-right: 27px;
}

/*Les Services*/

section>h2{
    margin:10px 0 0 85px;
}

.barservice{
    height: 54px;
    width: 636px;
    margin: 15px 0 43px 0;
}

article>h3{
    margin: 0px 0 0 15px;
}

.textgauche{
    width: 482px;
    height: 247px;
    line-height: 22.74px;
    margin : 20px 0 0 18px
}

.gestion{
    background-image: url(../images/gestiondeprojet.jpg);
    background-attachment:scroll;
    background-size:cover;
    background-position: center;
    width: 502px;
    height: 292px;
}

article>h4{
    margin: 55px 50px 20px 0;
}

.textdroit{
    width: 482px;
    height: 247px;
    line-height: 22.74px;
    margin-right : 19px;
}

.dev{
    background-image: url(../images/developpementweb.jpg);
    background-attachment:scroll;
    background-size:cover;
    background-position: center;
    width: 502px;
    height: 292px;
    margin-top: 50px;
}

article>h5{
    margin: 50px 0 0 15px;
}

.heberge{
    background-image: url(../images/hebergementweb.jpg);
    background-attachment:scroll;
    background-size:cover;
    background-position: center;
    width: 502px;
    height: 292px;
    margin-top: 50px;
    margin-bottom: 45px;
}

/*Les Tarifs*/

section>h3{
    margin-right: 99px;
}

.bartarifs{
    height: 54px;
    width: 674px;
    margin: 5px 0 46px 0;
}

/* Le Tableau */

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 45px;
}

th, td{
    padding: 20px;
}

thead{
    background-color: #FF6738;
    color: white;
}

tbody tr:nth-child(odd){
    background-color: #FFD59E;
}

tbody tr:nth-child(even){
    background-color: white;
}

.center{
    text-align: center;
}

/*Contactez Nous*/

section>h4{
    margin-left: 85px;
}

.barcontact{
    height: 54px;
    width: 569px;
    margin: 5px 0 43px 0;
}

/* Le Formulaire */

#last_name{
    background-color: #FFD59E;
    height: 66.59px;
    width: 395px;
    border-radius: 5px;
    border: none;
    margin: 0 0 0 20px;
    float: left;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

#first_name{
    background-color: #FFD59E;
    height: 66px;
    width: 560px;
    border-radius: 5px;
    border: 0px;
    margin: 0 29px 35.31px 0;
    float: right;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

#email{
    background-color: #FFD59E;
    height: 66.59px;
    width: 656px;
    border-radius: 5px;
    border: 0px;
    margin: 0 0 35.31px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

#phone{
    background-color: #FFD59E;
    height: 66.59px;
    width: 656px;
    border-radius: 5px;
    border: 0px;
    margin: 0 0 35.31px 20px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

#commentaire{
    background-color: #FFD59E;
    min-height: 287px;
    min-width: 975px;
    max-height: 287px;
    max-width: 975px;
    border-radius: 5px;
    border: 0px;
    margin: 0 29px 0 20px;
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
}

::placeholder{
    padding: 20px 0 0 18px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-transform: uppercase;
    color: #B7B7B7;
}

#soumettre{
    margin: 31.28px 87px 25.86px 627px;
    width: 310px;
    height: 86.67px;
    border: none;
    border-radius: 5px;
    background-color: #FF6738;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: white;
}

/*Le Footer*/

footer{
    height: 298px;
    background-color: #C4C4C4;
}

.logo{
    margin: 27px 0 19px 80px;
}

.adresse{
    width: 196px;
    height: 112px;
    font-weight: bold;
    margin-left: 12px
}

.barfooter{
    height: 54px;
    width: 589px;
    margin-top: 37px;
}

/*LES UTILITAIRES*/

/*Pour Centrer*/

.wrapper{
    width: 1024px;
    margin: 0 auto;
}

/*Les coleurs de fond*/

.fondpeche{
    background-color: #FFD59E;
}

.fondorange{
    background-color: #FF6738;
}

/*Les couleurs pour le texte*/

.blanc{
    color: #FFFFFF;
}

.orange{
    color: #FF6738;
}

.jauneorange{
    color: #FFA938;
}

/*Les styles de police*/

.francoisone{
    font-family: 'Francois One', sans-serif;
}

.montserrat{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.w400{
    font-weight: 400;
    text-align: justify;
}

.w500{
    font-weight: 500;
    color: #B7B7B7;
}

.w700{
    font-weight: 700;
}

.w900{
    font-weight: 900;
}

.upper{
    text-transform: uppercase;
}

/*Taille des polices*/

.taille72{
    font-size: 72px;
}

.taille48{
    font-size: 48px;
}

.taille36{
    font-size: 36px;
}

.taille34{
    font-size: 34px;
}

.taille24{
    font-size: 24px;
}

.taille18{
    font-size: 18px;
}

.taille14{
    font-size: 14px;
}

/*Les floats*/

.left{
    float:left;
}

.right{
    float: right;
}

/*Pour enlever l'effet des float*/

.clear{
    clear:both;
}